<h1>login - LAB</h1>
<form action="/login" method="POST">
<label for="emailInput">Email</label>
<br>
<input type="email" name="username" id="emailInput">
<br>
<label for="passwordInput">Password</label>
<br>
<input type="password" name="password" id="passwordInput">
<br>
<button>Submit</button>
</form>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}